@import '../../../styles/settings.scss';

.root {
  padding: $base-size;
  margin-bottom: $base-size;

  .total {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(224, 224, 224, 1);
  }

  td {
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 1px;
    line-height: 1.9;
  }
   
}
