@import '../../../styles/settings.scss';

.root {
  padding: $base-size;

  .name {
    text-decoration: none;
  }

  .comment {
    padding-top: 1px;
  }

  td {
    border-bottom: none;
    padding-bottom: 1px;
  }

  .actionButtons {
    padding-right: 10px;
  }

  .orderButton {
    margin-top: $base-size;
  }
  
}
